In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('/Users/rgareev/data/ny-tlc/src/green_tripdata/green_tripdata_2021-01.parquet')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               76518 non-null  int64
 1   lpep_pickup_datetime   76518 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  76518 non-null  datetime64[ns]
 3   store_and_fwd_flag     40471 non-null  object
 4   RatecodeID             40471 non-null  float64
 5   PULocationID           76518 non-null  int64
 6   DOLocationID           76518 non-null  int64
 7   passenger_count        40471 non-null  float64
 8   trip_distance          76518 non-null  float64
 9   fare_amount            76518 non-null  float64
 10  extra                  76518 non-null  float64
 11  mta_tax                76518 non-null  float64
 12  tip_amount             76518 non-null  float64
 13  tolls_amount           76518 non-null  float64
 14  ehail_fee              0 non-null      object
 15  improvement_surcharge  76518 non-null  float64
 16  total_amount           76518 non-null  float64
 17  payment_type           40471 non-null  float64
 18  trip_type              40471 non-null  float64
 19  congestion_surcharge   40471 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(3), object(2)
memory usage: 11.7+ MB

In [4]:
df.sample(10)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
59265,2,2021-01-17 09:44:00,2021-01-17 09:54:00,None,NaN,61,49,NaN,2.13,16.73,0.00,0.0,2.75,0.0,None,0.3,19.78,NaN,NaN,NaN
16817,2,2021-01-14 06:13:29,2021-01-14 06:18:28,N,1.0,42,41,1.0,1.79,7.00,0.00,0.5,0.00,0.0,None,0.3,7.80,2.0,1.0,0.00
47582,2,2021-01-07 12:20:00,2021-01-07 12:32:00,None,NaN,242,51,NaN,3.63,18.96,0.00,0.0,2.75,0.0,None,0.3,22.01,NaN,NaN,NaN
16080,2,2021-01-13 14:13:28,2021-01-13 14:15:04,N,1.0,166,166,1.0,0.43,3.50,0.00,0.5,0.00,0.0,None,0.3,4.30,2.0,1.0,0.00
1949,2,2021-01-03 09:48:49,2021-01-03 10:03:55,N,1.0,52,61,1.0,3.65,14.00,0.00,0.5,0.00,0.0,None,0.3,14.80,1.0,1.0,0.00
67619,2,2021-01-24 10:27:00,2021-01-24 10:34:00,None,NaN,210,149,NaN,1.54,19.39,2.75,0.0,0.00,0.0,None,0.3,22.44,NaN,NaN,NaN
65197,2,2021-01-21 16:18:00,2021-01-21 16:46:00,None,NaN,33,61,NaN,4.13,20.93,2.75,0.0,0.00,0.0,None,0.3,23.98,NaN,NaN,NaN
74495,2,2021-01-29 10:38:00,2021-01-29 10:43:00,None,NaN,22,22,NaN,0.76,11.95,2.75,0.0,0.00,0.0,None,0.3,15.00,NaN,NaN,NaN
41544,2,2021-01-02 22:13:00,2021-01-02 22:25:00,None,NaN,225,97,NaN,2.64,13.66,0.00,0.0,3.07,0.0,None,0.3,17.03,NaN,NaN,NaN
32513,2,2021-01-26 08:02:08,2021-01-26 08:13:14,N,1.0,43,161,1.0,2.31,10.00,0.00,0.5,2.71,0.0,None,0.3,16.26,1.0,1.0,2.75